<div class="container">

  <div class="eggnog-title">
    <h1>Select Your Note!</h1>
  </div>
  <!-- <table class="table table-bordered">
        <tbody>
            <tr>
                <td class="darkred" ng-click="select.goToPlayPage('0')">Low C</td>
                <td class="orange" ng-click="select.goToPlayPage('1')">This is a link to play the '1' note.</td>
            </tr>
            <tr>
                <td class="yellow" ng-click="select.goToPlayPage('2')">This is a link to play the '2' note.</td>
                <td class="green" ng-click="select.goToPlayPage('3')">This is a link to play the '3' note.</td>
            </tr>
            <tr>
                <td class="blue" ng-click="select.goToPlayPage('4')">This is a link to play the '4' note.</td>
                <td class="indigo" ng-click="select.goToPlayPage('5')">This is a link to play the '5' note.</td>
            </tr>
            <tr>
                <td class="violet" ng-click="select.goToPlayPage('6')">This is a link to play the '6' note.</td>
                <td class="lightred" ng-click="select.goToPlayPage('7')">This is a link to play the '7' note.</td>
            </tr>
        </tbody>
    </table>
 </div> -->
 <div class="eggnog-notes container">
  <div class="btn-toolbar " role="toolbar">
    <div class="btn-group btn-group-lg btn-group-justified btn-group-fill-height">
      <a class="btn btn-darkred" ui-sref="mobile.play({note: 0})" role="button">
        <strong>Low C</strong><br>
      </a>
      <a class="btn btn-orange" ui-sref="mobile.play({note: 1})" role="button">
        <strong>D</strong><br>
      </a>
    </div>
  </div>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group btn-group-lg btn-group-justified btn-group-fill-height">
      <a href="#" class="btn btn-yellow" ui-sref="mobile.play({note: 2})" role="button">
        <strong>E</strong><br>
      </a>
      <a class="btn btn-success" ui-sref="mobile.play({note: 3})" role="button">
        <strong>F</strong><br>
      </a>
    </div>
  </div>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group btn-group-lg btn-group-justified btn-group-fill-height">
      <a href="#" class="btn btn-primary" ui-sref="mobile.play({note: 4})" role="button">
        <strong>G</strong><br>
      </a>
      <a class="btn btn-indigo" ui-sref="mobile.play({note: 5})" role="button">
        <strong>A</strong><br>
      </a>
    </div>
  </div>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group btn-group-lg btn-group-justified btn-group-fill-height">
      <a class="btn btn-violet"  ui-sref="mobile.play({note: 6})" role="button">
        <strong>B</strong><br>
      </a>
      <a class="btn btn-lightred" ui-sref="mobile.play({note: 7})" role="button">
        <strong>High C</strong><br>
      </a>
    </div>
  </div>
</div>

