.add-top {
  margin-top: 15px;
}

.eggnog-title {
  text-align: center;
  height: 50px;
}

.eggnog-notes {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
}

.eggnog-notes .btn-toolbar {
	height: 25%;
}

.eggnog-notes .btn {
	height: 100%;
}

.eggnog-notes .btn-group {
	height: 100%;
}

.add-bottom {
  margin-bottom: 15px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.btn {
	height: 25%;
}
.btn-darkred:hover {
	background-color: #800000;
	color: white;
}
.btn-darkred {
	background-color: #990000;
	color: white;
}
.btn-orange:hover  {
	background-color: #ff6600;
	color: white;
}
.btn-orange  {
	background-color: #ff9933;
	color: white;
}
/*td.green {
	background-color: green;
}
td.blue {
	background-color: blue;
}*/
.btn-yellow:hover  {
	background-color: #ffcc00;
	color: white;
}
.btn-yellow  {
	background-color: #ffff66;
	color: white;
}
.btn-indigo:hover  {
	background-color: #2e0854;
	color: white;
}
.btn-indigo  {
	background-color: #7d26cd;
	color: white;
}
.btn-violet:hover  {
	background-color: #9f00ff;
	color: white;
}
.btn-violet  {
	background-color: violet;
	color: white;
}
.btn-lightred:hover  {
	background-color: #cc0000;
	color: white;
}
.btn-lightred {
  background-color: #ff0000;
  color: white;
}

.bg-gray {
  background: #e0e0e0;
}

.card {
  border: 1px solid #afafaf;
  padding: 15px;
}



.staff {
  position: fixed;
  left: 0;
  top: 45%;
  height: 50px;
  width: 100%;
}

.staff-line {
  height: 20px;
}

.staff-line hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.play-line {
  position: fixed;
  width: .5%;
  opacity: .5;
  background-color: red;
  top: 40%;
  bottom: 35%;
  left: 49.75%;
}

.notes {
  position: fixed;
  left: 0;
  top: 45%;
  height: 120px;
  width: 100%;
  opacity: .5;
}

.note {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

div.measure {
  position: absolute;
  width: 20%;
  height: 200px;
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  -o-transition: all 2s linear;
  -ms-transition: all 2s linear;
}

.card-block img {
  margin: 0 auto;
  margin-top: 25px;
}

.height150 {
  max-height: 150px;
}

.height75 {
  max-height: 75px;
}

