.add-top {
  margin-top: 15px;
}

.add-bottom {
  margin-bottom: 15px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.bg-gray {
  background: #e0e0e0;
}

.card {
  border: 1px solid #afafaf;
  padding: 15px;
}


